{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
  function go_to_URL(){
  var linkURL;
  var assignment_name = document.getElementById("assignment_name");
  var due_date_month = document.getElementById("due_date_month");
  var due_date_day = document.getElementById("due_date_day");
  var due_date_year = document.getElementById("due_date_year");
  var due_date_hour = document.getElementById("due_date_hour");
  var time_to_complete = document.getElementById("time_to_complete");
  var linkURL = "add_assignment/"+assignment_name.value+"/"+
  due_date_month.value+"~"+due_date_day.value+"~"+
  due_date_year.value+"~"+due_date_hour.value+"/"+
  time_to_complete.value;
  window.location.href=linkURL;
  }
</script>
{% endblock %}

{% block header %}
<div class="page-header">
  <h1>Add Assignment</h1>
</div>
{% endblock %}

{% block content %}
     <div class="form-group">
          <label>Name of Assignment:</label>
          <input type="text" id="assignment_name" placeholder="assignemnt"><br>
          <label>Due Date (MM/DD/YYYY):</label>
          <input type="text" id="due_date_month" maxlength="2" size="2" value="3"> /
          <input type="text" id="due_date_day"   maxlength="2" size="2" value="27"> /
          <input type="text" id="due_date_year"  maxlength="4" size="4" value="2016">
	  <label>@</label>
          <input type="text" id="due_date_hour"  maxlength="2" size="2" value="23">
	  <label>:00</label>
          <br>
          <label>Estimated Hours to Complete:</label>
          <input type="text" id="time_to_complete" size="3" value=3 ></input>
     </div>
     <button class="btn btn-success col-md-2" type="button" onclick="go_to_URL()">Add Assignment</button>
     <button class="btn btn-secondary" type="button" onclick="window.location.href='/';">Cancel</button>
{% endblock %}
